{% extends 'base.html' %}

{% block content %}

<div class="col-md-6 offset-md-3">
  {% if messages %}
<div class="alert alert-light text text-center" role="alert">
  {% for message in messages %}
  {{message}}
  {% endfor %}
</div>
{% endif %}
  <h1>
    <p class="text-center fst-italic">Login Portal</p>
  </h1>
  <form method="POST" action="{% url 'home.login' %}"> {% csrf_token %}
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Username</label>
      <input type="username" class="form-control" name="username" required>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" name="password" required>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

{% endblock %}